* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    height: 100vh;
}

#wrapper {
    width: 1000px;
    height: 600px;
    margin: auto;

}

.arrow-left, .arrow-right {
    float: left;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.slider {
    float: left;
    width: calc(100% - 100px);
    height: 100%;
    background-color: yellow;
    position: relative;
}

.slider img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pallini {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.pallini i {
    margin: 0 3px;
}

.pallini i.active {
    color: red;
}

button {
    background-color: red;
    padding: 20px;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);


}
